*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(150, 147, 147);
}

.row{
    display: flex;
    column-gap: 42px;
    padding: 0px 12px;
    margin: 40px 0px;

}
form{
    flex-basis: 30%;
    border: 1px solid white;
    padding: 20px;
}
.tasks{
    flex-basis: 70%;
}
form label{
    font-size: 24px;
    color: white;
    margin-bottom: 8px;
    display: inline-block;
}

form input,
form select{
width: 100%;
font-size: 22px;
padding: 8px 12px;

}

.input-row{
    margin: 20px 0px;
}

form button{
    font-size: 20px;
    background-color: rgb(46, 120, 46);
    border-radius: 8px;
    padding: 12px 24px;
    color: white;
    cursor: pointer;

}

form button.hide{
    display: none;
}
.task-sections{
    width: 100%;
    border:1px solid white;
    display: flex;
    column-gap: 20px;
    padding: 20px;
    
}

.todo,
.inprogress,
.done,.review{

    width:100%;
    color: white;
    cursor: grab;
    transition: height 0.3s;
     
} 


.element-container{
    border: 1px dashed gray ;
    margin: 10px 0px;
    padding: 20px;
    min-height: 0px;
    transition: 0.5s;
}

.element{
    background-color: rgb(223, 58, 58);
    margin: 20px 0px;
    padding: 20px;
    cursor:move;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.element span{
    display: inline-block;
    border-radius: 50%;
    padding: 8px 12px;
    background-color: white;
    color: black;
    font-size: 18px;

}
.btn_{

    display: flex;
    column-gap: 12px;
}
.stage-row.hide{
    display: none;
}
.tasks>button{
    background-color: red;
    width: 90px;
    height: 20px;
}